@import 'variables';
@import 'media-queries';

.navbar {
  width: 100%;
  justify-content: center;

  &__center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.5rem;
    background-color: transparent;
    position: relative;
    z-index: 99;
  }

  &__toggle {
    color: $yellow;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.4s;
  }

  &__toggle:hover {
    transform: scale(1.2);
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    position: fixed;
    background-color: $yellow;
    box-shadow: 0 0 4px rgba(86, 112, 53, 0.5);
    padding: 1.5rem 0;
    width: 50%;
    top: -100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: 0.4s;
    border-radius: 15px;
    z-index: 10;

    &--link {
      color: $green;
      font-weight: 900;
      font-size: 1.2rem;
    }
  }
}

.show-menu {
  top: 7.5rem;
}

img.logo-mini {
  width: 3.5rem;
}

img.logo-big {
  display: none;
}

// ------ MEDIA QUERIES ------

@include tablet {
  header {
    width: 100%;
    justify-content: center;

    .navbar {
      justify-content: space-between;
      align-items: center;
      display: flex;
      max-width: 1024px;
      margin-left: auto;
      margin-right: auto;

      &__toggle {
        display: none;
      }

      &__center {
        width: 300px;
      }

      img.logo-mini {
        display: none;
      }

      img.logo-big {
        display: block;
        max-width: 70%;
        margin: 0;
      }

      &__list {
        flex-direction: row;
        position: relative;
        background-color: transparent;
        box-shadow: none;
        padding: 0;
        width: 100%;
        justify-content: end;

        &--link {
          color: $grey;
          font-size: 1.2rem;
          margin-right: 1rem;
        }
      }
    }
  }
}
