/* COLORS */
$yellow: #ffd447;
$green: #086037;
$orange: #c3790c;
$grey: #f5f5f5;
$black: #000000;
$red: #be3737;

/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

$body-font: 'Lato', sans-serif;
